
<header class="main-header"  role="banner">
    <div class="container">
        {{ page.header }}
        <nav class="navbar navbar-expand-lg navbar-light bg-light  main-navigation">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{ page.main_navigation }}
            </div>
        </nav>
    </div>

</header>