<div class=" card  text-white container prem" >
    <div class="card-img-overlay fa">
        <div class="transbox">

            <h1 class="card-title" style="text-align: center">Explotez le Book of dream</h1>

        </div>
    </div>
    {{ page.primary_menu }}
    <div class="container cool">
        <h1>Tu as un Idée ?</h1>
        <a class="btn-outlines" href="http://localhost/Innovation/fr/form/idea-form">
           <button class="btn ">Partagez les ...</button>
        </a>
    </div>


</div>